In [63]:
import pandas as pd
import numpy as np

In [64]:
array = np.array([[0,1],
                 [1,2],
                 [3,4]])
df = pd.DataFrame(array)
df

   0  1
0  0  1
1  1  2
2  3  4

In [65]:
df.columns = ['dog', 'cat']

In [66]:
df2 = pd.DataFrame([[5,6]],columns = ['dog','cat'])
df = df.append(df2)

In [67]:
df.loc[2, 'dog'] = 10

In [68]:
df

   dog  cat
0    0    1
1    1    2
2   10    4
0    5    6

In [69]:
df['animals'] = df['dog']+df['cat']

In [70]:
#df.index = ["0","1","2","3"]

In [71]:
df

   dog  cat  animals
0    0    1        1
1    1    2        3
2   10    4       14
0    5    6       11

In [72]:
df.reindex()

   dog  cat  animals
0    0    1        1
1    1    2        3
2   10    4       14
0    5    6       11

In [76]:
df.reset_index(drop = True)

   dog  cat  animals
0    0    1        1
1    1    2        3
2   10    4       14
3    5    6       11